.map_default_widget_settings {
  width: 50%;
  float: left;
}
.map_default_widget_settings .map_default_widget_settings_map {
  width: 95%;
  height: 350px;
  border: 1px solid #ccc;
}

.map_default_widget_settings .form-type-checkbox,
.map_default_widget_settings .form-type-radio {
  display: inline-block;
  padding-right: 2em;
}

.map_default_widget_settings .form-type-textfield {
  display: inline-block;
}
